.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(40 116 240) ;
    height: 12vh;
    color:white;
}
.btn{
    padding: 5px 10px;
    color:white;
    border: 2px solid white;
    border-radius: 7px;
    cursor:pointer;
    background-color: blue;

    
    
}
.text-center{
    display: inline-flex;
    display: flex;
    flex-direction: row;
    

}